    html,
    body {
      height: 100%;
    }

    body {
      background-color: #935d8c;
      background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
      background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
      background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
      background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    }

    /* Navigasi */
    .navbar {
      background: none !important;
      box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.1);
    }

    .nav {
      float: right;
    }

    .nav-link {
      color: #fffffd;
    }

    a.nav-link:focus,
    a.nav-link:hover {
      color: #e37682 !important;
    }

    @media only screen and (max-width: 600px) {
      .nav-item span {
        display: none;
      }
    }

    /*end navigasi*/

    /* start main */

    #main {
      padding-top: 150px;
      color: #fffffd
    }

    #skill {
      padding-top: 120px;
      color: #fffffd
    }

    #contact {
      padding-top: 120px;
      color: #fffffd
    }

    .h-3 {
      font-size: 3.8rem
    }

    .img-3 {
      max-width: 200px;
      max-height: 150px;
    }

    @media (min-width:609px) and (max-width:991px) {

      /* small*/
      #main {
        padding-top: 100px;
      }

      .h-3 {
        font-size: 1.2rem;
        padding-top: 0;
      }

      #main h3,
      #main p {
        padding-top: 0px;
      }

      #main p {
        font-size: 14px;
      }
    }

    @media (max-width:608px) {
      #main {
        padding-top: 30px;
      }

      #main .col-sm {
        width: 100%;
      }

      .h-3 {
        font-size: 2.2rem;

      }

      #main p {
        font-size: 0.9
      }

      #main h3,
      #main p {
        text-align: center;
        padding-top: 0;
      }

      #main .carousel-item img {
        height: 200px;
      }

      .img-3 {
        width: 150px;
        height: 100px;
      }
    }

    .text-center button {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 8px 20px;
      border-radius: 2px;
      transition: 0.5s;
      margin: 10px;
      background-color: #fffffd
    }

    .btn-outline-info {
      border: 2px solid #fffffd;
      color: #fffffd;
    }


    form .col input {
      border-radius: 1px;
      border-top: none;
      border-right: none;
      border-left: none;
      transition: 0.5s;
      border-color: #999;

    }

    form .col textarea {
      border-radius: 1px;
      transition: 0.5s;
      border-color: #999;
    }

    form .row {
      margin-top: 10px;
    }

    .modal-footer button,
    .modal-footer input {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 8px 20px;
      border-radius: 2px;
      transition: 0.5s;
      margin-top: 20px;
    }

    /* end main */